{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- main content -->
<div class="container">

	<div class="row">
			<div class="col-md-12">

					<div class="card create-post-bar d-flex flex-column p-3">
						<h1> Awwards Site Application.</h1>
						<p class="lead">This is an application where you upload your applications and get them reviewed.<br>
						The reviewing is conducted in terms of the design of your site,usability and the content.</p>
						<p class="m-auto"><a class="btn btn-primary" href="{% url 'award:create' %}">Upload Site</a></p>
					</div>
				
				</div>
	</div>
	
	<div class="row">
			
			<!-- posts-->
			{% if award_posts %}
				{% for post in award_posts %}
				<div class=col-md-6>
					<div class="award-post-container">
						{% include 'award/snippets/award_post.html' with award_post=post %}
					</div>
				</div>
				{% endfor %}
			{% else %}
				<div class="award-post-container">
					{% include 'award/snippets/award_post.html' with query=query %}
				</div>
			{% endif %}
			<!-- End posts-->
			
	</div>

	</div>

{% endblock content %}
