
<style type="text/css">
    body{
        background-color: #f2f2f2;
    }
    @media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.award-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
    }
    .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}

   .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}

	.image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	
	}
	.image-group{
		position: relative;
  		text-align: center;
  		cursor:pointer;
	}

	.image-group:hover .image {
	  opacity: 0.3;
	}

	.image-group:hover .middle {
	  opacity: 1;
	}

	.text {
	  margin: auto;
	  background-color: #4CAF50;
	  color: white;
	  font-size: 15px;
	  padding: 15px;
    }
    .card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}
    .rating{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
    }
    .rating label{
        display: block;
        cursor:pointer;
        width: 50px;
        background: #ccc;
    }
    .rating label:before{
         content: '\f005';
		 font-family: fontAwesome;
		 position: relative;
		 display: block;
		 color:#101010 ;
    }
	.rating label:after{
         content: '\f005';
		 font-family: fontAwesome;
		 position: absolute;
		 display: block;
		 color:#1f9cff ;
		 top: 0;
		 opacity: 1;
		 transition: .5s;
		 text-shadow: 0 2px 5px rgba(0,0,0,.5);
    }
	.rating label:hover:after, 
	.rating input:hover ~ label:after,
	.rating input:checked ~ label:after{
		opacity:1;
	}
</style>