<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
{% if award_post %}
<div class="container">
	<div class="row">
		<!--Post -->
		<div class="card m-auto">
			<a href="{% url 'award:detail' post.slug %}">
				<img class="card-img-top" src="{{award_post.image.url}}">
			</a>
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'award:detail' post.slug %}">
					<h2 class="card-title">{{award_post.title}}</h2>
				</a>
				<p class="card-text">{{award_post.body|safe|truncatechars:180}}</p>
				{% if award_post.author == request.user %}
					<a href="{% url 'award:edit' award_post.slug %}" class="btn btn-primary">Update</a>
				{% endif %}
				<p>Updated on {{award_post.date_updated}} by {{award_post.author}}</p>
			</div>
		</div>
	</div>
</div>

{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">No results</h2>
				<p class="card-text">There were no results matching the search: "{{query}}"</p>
			</div>
		</div>
	</div>
</div>

{% endif %}