<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>

      {% include 'snippets/header.html' %}
</head>
<body>
    <style type="text/css">
        .main{
            min-height: 95vh;
            height: 100%;
        }
    </style>
    <div class="main">
        {% block content%}

        {% endblock content%}
    </div>

    {% include 'snippets/footer.html'%}
</body>
 
</html>